<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
  <head {{ HEAD_ATTRS }}>
    {{ HEAD }}
  </head>
  <body {{ BODY_ATTRS }}>
    <!-- <form action="/thanks" name="contact" netlify netlify-honeypot="bot-field" hidden>
      <input type="hidden" name="form-name" value="contact" />
        <div class="cf-footer__form-item" >
          <label>Name: </! 
          <input placeholder="Name" type="text" name="name" required />   
        </div>
        <div class="cf-footer__form-item" >
          <label>Email:</label>
          <input placeholder="Email" type="email" name="email" required />
        </div>
        <div class="cf-footer__form-item cf-footer__form-item--textarea" >
          <label>Message:</label>
          <textarea placeholder="Your Message" name="message" required></textarea>
        </div>
      </form> -->
    {{ APP }}
  </body>
</html>
