<template>
  <section class="case-studies">
    <h2 v-if="sectionTitle" class="case-studies__title">Latest Case Studies</h2>
    <div class="case-gallery">
      <figure
        class="case-gallery__item"
        v-for="pic in caseStudies"
        :key="pic.name.trim().toLowerCase()"
      >
        <div class="case-gallery__image-wrap">
          <div class="case-gallery__image-inner">
            <img
              src="/images/placeholder.png"
              :data-src="pic.image"
              alt=""
              aria-hidden="true"
              class="case-gallery__image lazy"
            />
          </div>
        </div>
        <figcaption class="case-gallery__caption">
          <div class="case-gallery__type">{{ pic.type }}</div>
          <div class="case-gallery__name">{{ pic.name }}</div>
          <!-- <div class="case-gallery__url">{{ pic.url }}</div> -->
          <nuxt-link
            :to="pic.csLink"
            class="case-gallery__p-url button button--case"
            >View Case Study</nuxt-link
          >
        </figcaption>
      </figure>
    </div>
  </section>
</template>

<script>
import caseStudies from "~/static/data/caseStudies.json";
import { observer } from "~/mixins/sharedMethods.js";
export default {
  mixins: [observer],
  props: {
    sectionTitle: {
      type: Boolean,
      default: true
    }
  },
  name: "CaseStudies",
  data() {
    return {
      observe: [".case-gallery__image"],
      ...caseStudies
    };
  }
};
</script>

<style scoped>
.case-studies {
  color: var(--white);
  background: var(--darkGreen);
}
.case-studies__title {
  text-align: center;
}
.case-gallery__item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1em;
  margin: 0 0 1em;
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.case-gallery__type {
  font-size: 0.65em;
  opacity: 0.75;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.case-gallery__url {
  font-size: 0.75em;
}
.case-gallery__p-url {
  background: var(--green);
  display: inline-block;
  margin-top: 0.5em;
}
.case-gallery__image-wrap {
  position: relative;
  overflow: hidden;
  margin: 0 0 0.5rem;
}
.case-gallery__image-wrap::before {
  padding-top: calc((493 / 800) * 100%);
  content: "";
  display: block;
  width: 100%;
}
.case-gallery__image-link,
.case-gallery__image-inner {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (min-width: 768px) {
  .case-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1em;
  }
  .case-gallery__item {
    display: block;
    transition: 0.3s ease;
  }
  .case-gallery__item:hover {
    box-shadow: 0 0 30px var(--green);
  }
}
</style>
