<template>
  <ul class="tech-used" :class="center ? 'tech-used--center' : ''">
    <li v-for="(tech, index) in techList" :key="index" class="tech-used__item" :class="dark ? 'tech-used__item--dark' : ''">{{tech}}</li>
  </ul>
</template>

<script>
export default {
  name: 'techUsed',
  props: {
    techList: Array,
    dark: Boolean,
    center: Boolean
  },
}
</script>

<style scoped>
  .tech-used,
  .tech-used__item {
    padding: 0;
    margin: 0;
  }
  .tech-used {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: calc(var(--baseline) * .25rem);
    margin-top: calc(var(--baseline) * -.25rem);
    align-items: center;
  }
  .tech-used--center {
    justify-content: center;
  }
  .tech-used::before {
    content:'Tech Used: ';
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: .75em;
    opacity: 0.7;
    margin-right: 10px;
    margin-bottom: 10px;
    line-height: 1;
    padding: .5em 0;
  }
  .tech-used__item {
    margin: 0 5px 10px;
    padding: .5em;
    font-size: .75em;
    border-radius: 3px;
    background: rgba(0,0,0,0.05);
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    list-style: none;
    line-height: 1;
  }
  .tech-used__item--dark {
    background: rgba(255,255,255,0.1);
    color: #FFF;
    margin: 0 10px 5px 0;
  }
</style>