<template>
  <header class="work-intro work__section">
    <div class="work-intro__title">
      <page-title class="work-title" :pageTitle="introData.title" />
    </div>
    <div class="work-intro__content">
      <div class="work-intro__text lead">
        <!-- <slot /> -->
        <nuxt-content :document="introData" />
      </div>
      <div class="work-intro__work-complete">
        <h3>Work Completed</h3>
        <work-completed :work="introData" />
      </div>
    </div>
  </header>
</template>

<script>
export default {
  props: {
    introData: Object
  }
};
</script>

<style scoped>
.work-intro {
  background: radial-gradient(
      ellipse at top right,
      var(--casePrimaryColor),
      transparent,
      transparent
    ),
    var(--darkGreen);
  color: var(--white);
  display: block;
}
.work-intro__text {
  margin-bottom: calc(var(--baseline) * 1.5rem);
}
.work-intro__work-complete {
  padding-left: calc(var(--baseline) * 1.5rem);
  border-left: 2px solid rgba(255, 255, 255, 0.3);
}

@media screen and (min-width: 768px) {
  .work-intro__title {
    max-width: calc((var(--baseline) * 1.5rem) + 1200px);
    margin-left: auto;
    margin-right: auto;
  }
  .work-intro {
    background: radial-gradient(
        ellipse at bottom right,
        var(--casePrimaryColor),
        transparent,
        transparent
      ),
      var(--darkGreen);
    display: block;
  }
  .work-intro__content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: calc((var(--baseline) * 1.5rem));
    max-width: calc((var(--baseline) * 1.5rem) + 1200px);
    margin: 0 auto;
  }
}
</style>