<template>
  <footer class="work-c2a work__section">
    <img class="work-c2a__logo" :src="generalInfo.logo" alt="" aria-hidden="true" />
    <a
      v-if="generalInfo.sourceUrl != undefined"
      :href="generalInfo.projectUrl"
      class="button button--case"
      target="_blank"
    >Visit {{ generalInfo.projectName }} &raquo;</a>
    <a
      v-if="generalInfo.sourceUrl != undefined"
      class="button button--source"
      :href="generalInfo.sourceUrl"
      target="_blank"
    >View Source Code</a>
    <div v-else class="work-c2a__msg-wrap">
      <div class="work-c2a__msg">
        Visit {{generalInfo.projectName}} at
        <a
          :href="generalInfo.projectUrl"
          rel="noreferrer"
          target="_blank"
        >{{generalInfo.projectUrl}}</a>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: "workFooter",
  props: {
    generalInfo: {
      type: Object,
      required: true
    }
  }
};
</script>

<style scoped>
.work-c2a {
  background: var(--darkGreen);
  padding-top: calc((var(--baseline) * 1.5rem) * 2);
  text-align: center;
}
.work-c2a__msg-wrap {
  color: var(--white);
}
.work-c2a__note {
  font-size: 0.65em;
  opacity: 0.5;
  line-height: 1;
}
.button {
  margin: 0.5em;
}
.work-c2a__logo {
  margin: 0 auto;
  display: block;
  padding: 0 2em;
  margin-bottom: 1em;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .work-c2a__logo {
    max-width: 500px;
  }

  .work-c2a {
    display: block;
  }
}
</style>