<template>
  <!-- <article class="work-build work__section" :style="casePrimaryColor"> -->
  <article class="work-build work__section">
    <div class="work-section-title">
      <h2 class="work-build__title">{{ buildContent.title }}</h2>
      <tech-used :techList="buildContent.tech" :dark="true" />
    </div>
    <div class="work-imagery work-build__left">
      <template v-if="buildContent.images">
        <figure
          v-for="(imageUrl,index) in buildContent.images"
          :key="`build-${index}`"
          class="work-imagery work-build__imagery"
        >
          <img
            class="work__image work__image--build"
            :src="'/images/placeholder.png'"
            :data-src="imageUrl"
            alt=""
            aria-hidden="true"
          />
        </figure>
      </template>
      <div class="work-build__code-wrap" v-if="buildCode.length > 0">
        <div
          class="work-build__code-item"
          v-for="(Code,index) in buildCode"
          :key="`build-${index}`"
        >
          <div class="work-build__code-title">{{Code.title}}</div>

          <div class="work-build__code">
            <nuxt-content :document="Code" />
          </div>
        </div>
      </div>
    </div>

    <div class="work-build__intro">
      <div class="work-build__intro-wsm" v-if="buildContent.wsmIntro">
        <p class="intro">
          As a site built in Web Shop Manager, I had limited control of the code. Rather than repeat that process here, I have detailed that CMS build process in my
          <nuxt-link
            to="/work/pace-performance"
            title="Learn more of WSM CMS Build process"
          >Pace Performance Case Study</nuxt-link>.
        </p>
      </div>
      <nuxt-content :document="buildContent" />
    </div>
  </article>
</template>

<script>
export default {
  name: "WorkBuild",
  props: {
    buildContent: {
      type: Object,
      required: true
    },
    buildCode: {
      type: Array
    }
  }
};
</script>

<style scoped>
.work-build {
  color: var(--white);
  background: #333;
  position: relative;
  padding-bottom: calc((var(--baseline) * 1.5rem) * 2);
  padding-top: calc((var(--baseline) * 1.5rem) * 2);
  z-index: 2;
}
.work-build::before,
.work-build::after {
  top: calc((var(--baseline) * -1.5rem) / 2);
  left: 0;
  position: absolute;
  width: 99.9%;
  content: "";
  height: calc(var(--baseline) * 1.5rem);
  background: linear-gradient(to right, #333, #333, #333, transparent);
  transform: rotate(-2deg);
}
.work-build::after {
  top: unset;
  bottom: calc((var(--baseline) * -1.5rem) / 2);
  background: linear-gradient(to right, transparent, #333, #333, #333);
  transform: rotate(-2deg);
}
.work-build__code-item {
  margin: 0 0 calc((var(--baseline) * 1.5rem));
}
.work-build__code {
  max-height: 400px;
  overflow: auto;
}
.work-build__code code {
  font-size: 13px;
  width: 100%;
}
.work-build__code code span {
  line-height: 1;
}
.work-build__code-title {
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.work-build__code::-webkit-scrollbar {
  width: 15px;
}
.work-build__code {
  scrollbar-width: thin;
  scrollbar-color: var(--casePrimaryColor) var(--darkerGreen);
}
.work-build__code::-webkit-scrollbar-track {
  background: var(--darkerGreen);
}
.work-build__code::-webkit-scrollbar-thumb {
  background-color: var(--casePrimaryColor);
  border-radius: 6px;
  border: 3px solid var(--darkerGreen);
}
</style>