<template>
  <article class="work-logo work__section">
    <div class="work-section-title">
      <h2 class="work-logo__title">{{ logoInfo.title }}</h2>
      <tech-used v-if="logoInfo.logoTech" :techList="logoInfo.logoTech" />
    </div>
    <figure class="work-imagery work-logo__imagery">
      <img
        class="work__image work__image--logo"
        :src="'/images/placeholder.png'"
        :data-src="logoInfo.image"
        alt=""
        aria-hidden="true"
      />
    </figure>
    <div class="work-logo__text">
      <nuxt-content :document="logoInfo" />
    </div>
  </article>
</template>

<script>
export default {
  props: {
    generalInfo: {
      type: Object,
      required: true
    },
    logoInfo: {
      type: Object,
      required: true
    }
  }
};
</script>

<style scoped>
.work-logo {
  background: white;
  position: relative;
  color: var(--darkGreen);
  z-index: 2;
  padding-bottom: calc((var(--baseline) * 1.5rem) * 2);
}
/* .work-logo::after, */
.work-logo::before {
  top: calc((var(--baseline) * -1.5rem) / 2);
  left: 0;
  position: absolute;
  width: 99.9%;
  content: "";
  height: calc(var(--baseline) * 1.5rem);
  background: linear-gradient(to right, white, white, white, transparent);
  transform: rotate(-2deg);
}
.work-logo__img-wrap {
  width: 100%;
  max-width: 600px;
}
.work-logo__img-wrap > * {
  max-width: 100%;
  height: auto;
}
.work-imagery {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>