<template>
  <ul class="work-list work-list--completed">
    <li v-if="work.logo" class="work-list--completed__item work-list--completed__item--logo">Logo</li>
    <li v-if="work.wireframes" class="work-list__item work-list__item--wireframes">Wireframes</li>
    <li v-if="work.styleGuide" class="work-list__item work-list__item--styleguide">Style Guide</li>
    <li v-if="work.graphics" class="work-list__item work-list__item--graphics">Graphics</li>
    <li v-if="work.siteDesign" class="work-list__item work-list__item--site-design">Site Design</li>
    <li v-if="work.siteBuild" class="work-list__item work-list__item--site-build">Site Build</li>
  </ul>
</template>

<script>
export default {
  props: {
    work: {
      type: Object,
      required: true
    }
  }
};
</script>

<style scoped>
.work-list--completed {
  list-style-type: circle;
}
</style>