<template>
  <article class="work-design">
    <section class="work__section work__section--full">
      <h2 class="work-section-title work-section-title--full">{{designIntro.title}}</h2>
      <tech-used :techList="designIntro.tech" :center="true" />
      <nuxt-content :document="designIntro" />
    </section>

    <template class v-for="item in designContent">
      <section class="work__section work-design__1" :key="item.slug">
        <div class="work-imagery work-design__imagery" v-if="item.images">
          <figure
            v-for="(image,index) in item.images"
            :key="index"
            class="work-imagery work-design__imagery"
          >
            <img
              class="work__image work__image--design"
              :src="'/images/placeholder.png'"
              :data-src="image"
              alt=""
              aria-hidden="true"
            />
          </figure>
        </div>
        <div class="work-content work-design__content">
          <h3 class="work-section-subtitle">{{item.title}}</h3>
          <nuxt-content :document="item" />
        </div>
      </section>
    </template>
  </article>
</template>

<script>
export default {
  props: {
    designIntro: {
      type: Object,
      required: true
    },
    designContent: {
      type: Array,
      required: true
    }
  }
};
</script>

<style scoped>
.work-design {
  background: var(--lightGray);
  position: relative;
  z-index: 2;
  padding-bottom: calc((var(--baseline) * 1.5rem) * 2);
}
.work-design::before {
  left: 0;
  position: absolute;
  width: 99.9%;
  content: "";
  height: calc(var(--baseline) * 1.5rem);
  top: calc((var(--baseline) * -1.5rem) / 2);
  background: linear-gradient(
    to left,
    transparent,
    var(--lightGray),
    var(--lightGray),
    var(--lightGray)
  );
  transform: rotate(-2deg);
}
</style>