<template>
  <article class="work-conclusion">
    <h2 class="work-conclusion__title">{{ conclusionIntro.title }}</h2>
    <div class="work-conclusion__intro">
      <div class="lead">
        <nuxt-content :document="conclusionIntro" />
      </div>
      <nuxt-content :document="conclusionContent" />
    </div>
  </article>
</template>

<script>
export default {
  props: {
    conclusionContent: {
      type: Object,
      required: true
    },
    conclusionIntro: {
      type: Object,
      required: true
    }
  }
};
</script>

<style scoped>
.work-conclusion {
  background: var(--casePrimaryColor);
  color: var(--white);
  margin: 0 auto;
  padding: calc((var(--baseline) * 1.5rem) * 2) calc((var(--baseline) * 1.5rem));
  position: relative;
  z-index: 1;
}
.work-conclusion::after {
  bottom: calc((var(--baseline) * -1.5rem) / 2);
  left: 0;
  position: absolute;
  width: 99.9%;
  content: "";
  height: calc(var(--baseline) * 1.5rem);
  background: linear-gradient(
    to right,
    transparent,
    var(--casePrimaryColor),
    var(--casePrimaryColor),
    var(--casePrimaryColor)
  );
  transform: rotate(-2deg);
}
.work-conclusion__title {
  text-align: center;
}
.work-conclusion__intro {
  max-width: calc((var(--baseline) * 1.5rem) + 600px);
  margin: 0 auto;
}
</style>