
:root {
  --darkGreen: #242a27;
  --white: #FFF;

  --green: #007751;
  --magenta: #bc1b3c;
  --gold: #bc9b1b;
  --orange: #bc4a1b;
  --purple: #4a1bbc;

  --baseline: 1.5;
  --baseFontSize: 16px;
}
html {
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  scroll-behavior: smooth;
  letter-spacing: -0.5px;
  word-spacing: 1px;
  font-size: var(--baseFontSize);
  line-height: var(--baseline);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  background: var(--darkGreen);
  color: var(--white);
}
::selection {
  background: var(--gold);
}

h1, h2, h3, h4, h5 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}
h1, h2 {
  margin-bottom: calc(var(--baseline) * 1rem);
}
h3, h4 {
  /* margin-bottom: calc(var(--baseline) * .15rem); */
}
h1 {
  font-size: calc(1.8vw + 1.8rem);
}
h2 {
  font-size: calc(1.5vw + 1.5rem )
}
h3 {
  font-size: calc(1vw + 1.2rem )
}
h4 {
  font-size: calc(1vw + 1rem )
}
hr {
  margin: calc(var(--baseline) * .5rem) 0;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  border-top: 1px solid rgba(0,0,0,0.2);
  border-left: 0;
  border-right: 0;
}

a, b, i, strong, em, small, code {
  line-height: 0;
}
a {
  color: var(--gold);
  text-decoration: none;
}
.lead {
  font-size: 1.3rem;
  font-weight: 300;
}
li, p {
  margin-bottom: calc(var(--baseline) * .5rem);
}
button {
  font-family: 'Quicksand', sans-serif;
}

@media screen and (min-width: 768px) {
  :root {
    --baseFontSize: 19px;
    --baseline: 1.7;
  }
  h1 {
    font-size: calc(2.5vw + 2.5rem);
  }
  
}

@media screen and (min-width: 1600px) {
  .container {
    max-width: 1600px;
    margin: 0 auto;
  }
}