<template>
  <header class="cf-hero">
    <figure class="cf-logo cf-hero__logo">
      <cf-logo class="cf-logo__svg" />
    </figure>
    <div class="cf-hero__text">
      <h1 class="cf-hero__name">{{ general.logoName }}</h1>
      <div class="cf-hero__slogan">
        <p class="lead">{{ general.logoSlogan }}</p>
      </div>
    </div>
    <div class="cf-hero__links">
      <cf-info :buttons="true" :showEmail="false" />
    </div>
  </header>
</template>

<script>
import general from "~/static/data/general.json";
import Logo from "~/components/global/Logo";
import MyInfo from "~/components/global/MyInfo";
export default {
  components: {
    cfLogo: Logo,
    cfInfo: MyInfo
  },
  data() {
    return {
      ...general
    };
  }
};
</script>

<style scoped>
.cf-hero {
  padding: calc(var(--baseline) * 1.5rem);
  text-align: center;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2), var(--darkGreen) 25%);
}
.cf-hero::before {
  content: "";
  height: 100%;
  width: 70%;
  display: block;
  background: radial-gradient(
    closest-side,
    rgba(188, 155, 27, 0.2),
    transparent
  );
  position: absolute;
  top: -40%;
  left: 15%;
  animation: logo 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s forwards;
  opacity: 0;
  pointer-events: none;
}
.cf-logo {
  max-width: 8rem;
  margin: calc(var(--baseline) * 1.5rem) auto 0;
  opacity: 0;
  animation: logo 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}
.cf-hero__name {
  margin: 0;
  display: inline-block;
  line-height: 1;
  opacity: 0;
  animation: logo 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.4s forwards;
}
.cf-hero__slogan {
  animation-duration: 0.5s;
  animation-delay: 0.7s;
  opacity: 0;
  animation: slogan 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.7s forwards;
}
.cf-hero__text {
  position: relative;
  margin-bottom: calc(var(--baseline) * 1.5rem);
}
.cf-hero__text::after {
  content: "";
  height: 0.5rem;
  background: var(--gold);
  width: 3rem;
  display: block;
  margin: 0 auto;
}
.cf-hero__links,
.cf-hero__text::after {
  opacity: 0;
  animation: info 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1s forwards;
}

@keyframes logo {
  0% {
    transform: translate3d(0, -3rem, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes slogan {
  0% {
    transform: translate3d(0, 1rem, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes info {
  0% {
    transform: translate3d(0, -1rem, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .cf-hero {
    padding-bottom: calc(var(--baseline) * 4.5rem);
  }
  .cf-hero__name {
    padding: 0 calc(var(--baseline) * 2rem);
    mask-image: url("/images/swoosh-white.svg");
    mask-repeat: no-repeat;
    mask-size: cover;
    animation: name 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.4s forwards,
      swoosh 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s forwards;
  }

  @keyframes name {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes swoosh {
    0% {
      mask-position: calc(var(--baseline) * 2rem) center;
    }

    100% {
      mask-position: -50px 60%;
    }
  }
}
</style>