<template>
  <section class="cf-about">
    <div class="container container--about">
      <cf-intro
        class="cf-about__left"
        :sectionTitle="content.about.title"
        :lead="content.about.subtitle"
        :msg="content.about.content"
        :c2aLink="content.about.link"
        :c2aText="content.about.buttonText"
      />
      <cf-intro
        class="cf-about__mid"
        :sectionTitle="content.skillset.title"
        :lead="content.skillset.subtitle"
      >
        <ul class="skl-list">
          <li
            v-for="(item,index) in content.skillset.skills"
            :key="index"
            class="skl__item"
          >{{item}}</li>
        </ul>
      </cf-intro>

      <cf-intro class="cf-about__right" :sectionTitle="content.resume.title">
        <cf-resume class :resumeData="content.resume.items" :resumeTitle="content.resume.title" />
      </cf-intro>
    </div>
  </section>
</template>

<script>
import SectionTitle from "~/components/global/SectionTitle";
import QuickResume from "~/components/global/QuickResume";
import Intro from "~/components/global/Intro";
import GenericSection from "~/components/global/GenericSection";
export default {
  components: {
    cfGenericSection: GenericSection,
    cfIntro: Intro,
    cfResume: QuickResume,
    SectionTitle
  },
  props: {
    content: {
      type: Object,
      required: true
    }
  }
};
</script>

<style scoped>
.cf-about {
  opacity: 0;
  transition: 0.3s ease;
  background: rgba(0, 0, 0, 0.1);
  --primaryColor: var(--orange);
}
.c2a__btn {
  background: var(--primaryColor);
}
.cf-about.visible {
  opacity: 1;
}
.cf-about__left,
.cf-about__right,
.cf-about__mid {
  padding: var(--basePadding);
}

@media screen and (min-width: 768px) {
  .cf-about {
    overflow-x: hidden;
    padding: var(--basePadding) 0;
    padding-top: 0;
  }
  .cf-about__left,
  .cf-about__right,
  .cf-about__mid {
    opacity: 0;
  }
  .visible .cf-about__left {
    animation: left 0.5s ease 0.2s forwards;
  }
  .visible .cf-about__right {
    animation: right 0.5s ease 0.2s forwards;
  }
  .visible .cf-about__mid {
    animation: mid 0.5s ease 0.2s forwards;
  }
}

@media screen and (min-width: 992px) {
  .container--about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  .cf-about__left {
    flex: 1;
  }
}
</style>