<template>
  <section class="cf-process">
    <div class="container container--pro">
      <!-- Title -->
      <h2 class="title title--pro">
        <span class="title__text">{{ processInfo.processTitle }}</span>
        <Swoosh />
      </h2>

      <!-- Lead -->
      <p class="lead lead--pro">{{ processInfo.processLead }}</p>

      <hr />

      <!-- List -->
      <div class="cf-process__list">
        <figure
          class="cf-process__list-item"
          v-for="(p, index) in processInfo.processes"
          :key="index"
        >
          <div class="cf-process__icon" v-html="p.icon"></div>
          <figcaption class="cf-process__info">
            <h3 class="cf-process__list-title">
              <span class="cf-process__list-num">{{ index+1 }}</span>
              {{ p.name }}
            </h3>
            <p class="cf-process__list-descr">{{ p.descr }}</p>
          </figcaption>
        </figure>
      </div>

      <hr />

      <div class="c2a">
        <nuxt-link class="c2a__btn c2a__btn--pro" to="/process">{{ processInfo.processBtn }}</nuxt-link>
      </div>
    </div>
  </section>
</template>

<script>
import Swoosh from "~/components/global/Swoosh.vue";
export default {
  components: {
    Swoosh
  },
  props: {
    processInfo: Object
  }
};
</script>

<style scoped>
.cf-process {
  opacity: 0;
  transition: 0.3s ease;
}
.cf-process.visible {
  opacity: 1;
}
.container--pro {
  padding: calc(var(--baseline) * 1.5rem);
}
.cf-process__list-item {
  display: flex;
}
.cf-process__icon {
  flex: 0 0 4rem;
  display: flex;
}
.cf-process__info {
  flex: 1;
  padding-left: 2rem;
}

.cf-process__list-num {
  color: var(--magenta);
  transition: 0.2s ease;
}
.c2a__btn--pro,
.title--pro::after {
  background: var(--magenta);
}
.cf-process__icon >>> svg {
  /* max-width: 4rem; */
  width: 100%;
}
.cf-process__list-item {
  opacity: 0;
}
.visible .cf-process__list-item {
  animation: enter 0.5s ease 0.2s forwards;
}
.visible .cf-process__list-item:nth-child(2) {
  animation: enter 0.5s ease 0.4s forwards;
}
.visible .cf-process__list-item:nth-child(3) {
  animation: enter 0.5s ease 0.6s forwards;
}

.cf-process {
  position: relative;
  z-index: 4;
  padding-bottom: calc((var(--baseline) * 1.5rem) * 2);
}
.cf-process::before {
  left: 0;
  position: absolute;
  width: 100%;
  content: "";
  height: calc(var(--baseline) * 1.5rem);
  top: calc((var(--baseline) * -1.5rem) / 2);
  background: linear-gradient(
    to left,
    transparent,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)
  );
  transform: rotate(2deg);
}

.cf-process::after {
  left: 0;
  position: absolute;
  width: 100%;
  content: "";
  height: calc(var(--baseline) * 1.5rem);
  bottom: calc((var(--baseline) * -1.5rem) / 2);
  background: linear-gradient(
    to left,
    transparent,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)
  );
  transform: rotate(-2deg);
}

@keyframes enter {
  0% {
    transform: translate3d(0, -3rem, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .cf-process {
    padding: calc(var(--baseline) * 2rem) 0;
    padding-top: 0;
  }
}

@media screen and (min-width: 992px) {
  .cf-process__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: calc(var(--baseline) * 0.5rem);
  }
  .cf-process__list-item {
    flex-direction: column;
    align-items: center;
    padding: calc(var(--baseline) * 1rem);
    transition: 0.2s ease;
    overflow: visible;
  }
  .cf-process__list-item:hover {
    background: var(--magenta);
  }
  .cf-process__list-item:hover .cf-process__list-num {
    color: var(--gold);
  }
  .cls-1 {
    transition: 0.2s ease;
  }
  .cf-process__list-item:hover .cls-1 {
    fill: var(--gold) !important;
  }
  .cf-process__icon >>> svg {
    /* max-width: 4rem; */
    width: 10rem;
    max-height: 8rem;
  }
  .cf-process__info,
  .cf-process__icon {
    padding: 0;
    flex: unset;
  }
  .cf-process__icon {
    flex: 0 0 8rem;
    margin-bottom: 1.625rem;
  }
  .cf-process__info {
    justify-content: flex-start;
  }
}
</style>