<template>
  <article class="cf-work">
    <div class="container container--work">
      <div class="cf-work__left">
        <section class="cf-work__case-studies">
          <work-intro :sectionTitle="content.title" :lead="content.subtitle">
            <template v-slot:beforeMsg>
              <work-case-studies :sectionTitle="false" />
            </template>
            <nuxt-content :document="content" />
          </work-intro>
        </section>
      </div>

      <div class="cf-work__right">
        <section class="cf-work__sect cf-work__sect--2 cf-work__sect--side">
          <work-intro sectionTitle="Latest Side Project" :lead="spContent.title">
            <work-featured :info="spContent" />
            <br />
            <nuxt-content :document="spContent" />
          </work-intro>
        </section>
      </div>
    </div>
  </article>
</template>

<script>
import LinkListGrid from "~/components/global/LinkListGrid";
import Featured from "~/components/projects/Featured";
import Intro from "~/components/global/Intro";
import CaseStudies from "~/components/work/CaseStudies";
export default {
  components: {
    workIntro: Intro,
    workFeatured: Featured,
    workLinkListGrid: LinkListGrid,
    workCaseStudies: CaseStudies
  },
  props: {
    content: {
      type: Object,
      required: true
    },
    spContent: {
      type: Object,
      required: true
    }
  }
};
</script>

<style scoped>
.cf-work {
  position: relative;
  z-index: 2;
  padding-bottom: var(--basePadding2x);
  background: rgba(0, 0, 0, 0.05);
  --primaryColor: var(--green);
  animation-name: work;
  animation-duration: 0.5s;
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  padding: var(--basePadding);
}
.cf-work::after {
  left: 0;
  position: absolute;
  width: 99.9%;
  content: "";
  height: var(--basePadding);
  top: var(--basePaddingNegHalf);
  background: linear-gradient(
    to left,
    transparent,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)
  );
  transform: rotate(-2deg);
}
.cf-work__left {
  opacity: 0;
  animation: left 0.6s ease 1s forwards;
  margin-bottom: var(--basePadding);
}
.cf-work__right {
  opacity: 0;
  animation: right 0.6s ease 1.2s forwards;
}

@media screen and (min-width: 992px) {
  .cf-work {
    padding: var(--basePadding) 0;
    position: relative;
    padding-bottom: var(--basePadding2x);
  }
  .container--work {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--basePaddingHalf);
  }
  .cf-work__left,
  .cf-work__right {
    padding: var(--basePadding);
  }
}
</style>