/* Global Styles.
 ***********************/

:root {
  --darkGreen: #242a27;
  --darkerGreen: #1c201e;
  --white: #fff;
  --darkText: #666;
  --darkGray: #333;
  --lightGray: #eee;

  --green: #007751;
  --magenta: #bc1b3c;
  --gold: #bc9b1b;
  --orange: #bc4a1b;
  --purple: #4a1bbc;

  --scrollBarBg: #1c201e;
  --scrollBarBtn: #007751;

  --baseline: 1.5;
  --baseFontSize: 16px;

  --basePadding: calc(var(--baseline) * 1.5rem);
  --basePaddingNeg: calc(var(--baseline) * -1.5rem);
  --basePaddingHalf: calc((var(--baseline) * 1.5rem) / 2);
  --basePaddingNegHalf: calc((var(--baseline) * -1.5rem) / 2);
  --basePaddingThird: calc((var(--baseline) * 1.5rem) / 3);
  --basePaddingNegThird: calc((var(--baseline) * -1.5rem) / 3);
  --basePaddingQuarter: calc((var(--baseline) * 1.5rem) / 4);
  --basePaddingNegQuarter: calc((var(--baseline) * -1.5rem) / 4);
  --basePadding2x: calc((var(--baseline) * 1.5rem) * 2);
  --basePaddingNeg2x: calc((var(--baseline) * -1.5rem) * 2);
  --basePadding3x: calc((var(--baseline) * 1.5rem) * 3);
  --basePaddingNeg3x: calc((var(--baseline) * -1.5rem) * 3);
}
html {
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
  letter-spacing: -0.5px;
  word-spacing: 1px;
  font-size: var(--baseFontSize);
  line-height: var(--baseline);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  background: var(--darkGreen);
  color: var(--white);
  scrollbar-width: thin;
  scrollbar-color: var(--scrollBarBtn) var(--scrollBarBg);
}
body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-track {
  background: var(--scrollBarBg);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--scrollBarBtn);
  border-radius: 6px;
  border: 3px solid var(--scrollBarBg);
}
::selection {
  background: var(--gold);
}

/* Typography
 ***********************/
h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: capitalize;
  /* text-transform: uppercase; */
  letter-spacing: -0.05em;
}
h1 {
  font-size: calc(1.8vw + 1.8rem);
  margin-bottom: calc(var(--baseline) * 1rem);
  font-weight: 600;
}
h2 {
  font-size: calc(1.5vw + 1.5rem);
  margin-bottom: var(--basePaddingQuarter);
  font-weight: 600;
}
h3 {
  font-size: calc(0.9vw + 1rem);
}
h4 {
  font-size: calc(0.75vw + 1rem);
}
hr {
  margin: var(--basePaddingHalf) 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 0;
  border-right: 0;
}
* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: var(--basePaddingHalf);
}
a,
b,
i,
strong,
em,
small,
code {
  line-height: 0;
}
a {
  color: var(--gold);
  text-decoration: none;
}
a:focus {
  border-bottom: 1px dotted rgba(255,255,255,0.8);
  outline: unset;
}
.lead {
  font-size: 1.3rem;
  font-weight: 300;
}
p,
ul,
ol {
  margin-bottom: var(--basePaddingHalf);
}
li {
  /* margin-bottom: var(--basePaddingQuarter); */
  margin-bottom: calc((var(--basePaddingQuarter)) / 2);
}
textarea {
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* Buttons
 ***********************/
button {
  border: 0;
}
button,
.button,
.c2a__btn {
  line-height: 1;
  display: inline-block;
  padding: var(--basePaddingThird);
  text-align: center;
  text-decoration: none;
  color: var(--white);
  transition: 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  border-radius: 0.5rem;
  background: var(--green);
}
.button:hover,
.c2a__btn:hover {
  box-shadow: inset 0 0 13px rgba(255, 255, 255, 0.4);
}
.c2a__btn:visited,
button:visited,
.button:visited {
  /* color: var(--white); */
}
.c2a__btn:focus,
button:focus,
.button:focus {
    background: var(--white) !important;
    color: var(--darkGray) !important;
    outline: none !important;
    border-bottom: none !important;
}
.c2a__btn:active {
  color: var(--green);
}
.button--case {
  background: var(--casePrimaryColor);
  color: var(--white);
}
.button--source,
.button--gold {
  background: var(--gold);
  color: var(--darkGreen);
}
.button--primary,
.button--green {
  background: var(--green);
  color: var(--white);
}
.button--orange {
  background: var(--orange);
  color: var(--white);
}
.button--outline {
  background: none;
  border: 3px solid var(--gold);
  color: var(--white);
}
.button--outline:hover {
  background: var(--gold);
}

.c2a {
  margin-top: var(--basePaddingHalf);
}

/* Other
 ***********************/
img {
  max-width: 100%;
}
.yt {
  position: relative;
}
.yt:before {
  padding-top: 64.375%;
  content: "";
  display: block;
  width: 100%;
}
.yt__vid {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.lazy {
  opacity: 0;
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.lazy.visible {
  opacity: 1;
}

/* Animations
 ***********************/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* home animations */

@keyframes work {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes left {
  0% {
    opacity: 0;
    transform: translate3d(-6rem, 0, 0) rotate(10deg);
  }
  100% {
    opacity: 1;
    transform: translate3d(0rem, 0, 0) rotate(0deg);
  }
}
@keyframes right {
  0% {
    opacity: 0;
    transform: translate3d(6rem, 0, 0) rotate(-10deg);
  }
  100% {
    opacity: 1;
    transform: translate3d(0rem, 0, 0) rotate(0deg);
  }
}
@keyframes mid {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --baseFontSize: 19px;
    --baseline: 1.7;
  }
  h1 {
    font-size: calc(2.5vw + 2.5rem);
  }
  button,
  .button,
  .c2a__btn {
    padding: var(--basePaddingQuarter) var(--basePaddingThird);
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 100%,
      73% 84%,
      83% 100%,
      50% 100%,
      0 100%
    );
  }
}

@media screen and (min-width: 1600px) {
  .container {
    max-width: 1600px;
    margin: 0 auto;
  }
}

/* Work Global Styles
 ***********************/

.work {
  color: var(--darkGray);
  background: var(--white);
}
.work__section {
  padding: var(--basePadding);
}
.work-title {
  position: relative;
  line-height: 1;
}
.work-title::before {
  display: block;
  content: "Case Study";
  letter-spacing: 0.2em;
  font-size: 0.3em;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 0.5em;
}
.work__image {
  opacity: 0;
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.work__image.visible {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .work__section {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 600px));
    grid-gap: 0 var(--basePadding);
    margin: 0 auto;
    justify-content: center;
    align-items: unset;
  }
  .work-section-title {
    grid-column: 2/3;
  }
  .work__section--full {
    display: block;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    padding-top: var(--basePadding2x);
  }
  .work-section-title--full {
    grid-column: unset;
  }
  .work-imagery {
    grid-row: 1 / span 3;
  }
}

/* Case Studies
 ***********************/
.work .case-studies {
  padding: var(--basePadding);
}
.work .case-gallery {
  max-width: 1200px;
  margin: 0 auto;
}
