<template>
  <div></div>
</template>

<script>
export default {
  props: {
    link: {
      required: true,
      type: String
    },
    kind: {
      type: String,
      default: "green"
    }
  }
};
</script>
