<template>
  <div class="cf-work">
    <div class="container container--work">
      <section class="cf-work__sect cf-work__sect--2 cf-work__sect--main">
        <work-intro :pageTitle="work.name" :lead="work.subtitle">
          <nuxt-content :document="work" />
        </work-intro>
        <work-featured :info="work" />
      </section>

      <hr />

      <section class="cf-work__case-studies">
        <work-intro
          sectionTitle="Case Studies"
          lead="Get a detailed look into some projects that I've worked on."
        />
        <work-case-studies :sectionTitle="false" />
      </section>

      <hr />

      <section class="cf-work__sect cf-work__sect--2 cf-work__sect--side">
        <work-intro sectionTitle="Latest Side Project" :lead="spContent.title">
          <nuxt-content :document="spContent" />
        </work-intro>
        <work-featured :info="spContent" />
      </section>

      <hr />
    </div>
  </div>
</template>

<script>
import Intro from "~/components/global/Intro";
import CaseStudies from "~/components/work/CaseStudies";
import Featured from "~/components/projects/Featured";
import Gallery from "~/components/projects/Gallery";
export default {
  components: {
    workGallery: Gallery,
    workFeatured: Featured,
    workCaseStudies: CaseStudies,
    workIntro: Intro
  },
  transition: {
    name: "layout"
  },
  head: {
    title: "Recent Work",
    meta: [{ name: "description", content: "Recent work of Christian Ferrer" }]
  },
  methods: {
    scrollBarColor() {
      const cfBody = document.querySelector("body");
      cfBody.setAttribute("style", `--scrollBarBtn:${this.primaryColor};`);
    },
    observer() {
      const options = {
        rootMargin: "100px",
        threshold: [0, 0.25, 0.5, 1.0]
      };

      const callback = (entries, observer) => {
        entries.forEach(entry => {
          if (entry.isIntersecting && entry.intersectionRatio >= 0.5) {
            const imgSrc = entry.target.dataset.src;
            entry.target.setAttribute("src", imgSrc);
            entry.target.classList.add("visible");
            observer.unobserve(entry.target);
          } else {
            // console.log('im out')
          }
        });
      };

      const observer = new IntersectionObserver(callback, options);
      const lazyImages = document.querySelectorAll(".cf-gallery__image");
      lazyImages.forEach(lazyImage => observer.observe(lazyImage));
    }
  },
  mounted() {
    this.observer();
    this.scrollBarColor();
  },
  data() {
    return {
      primaryColor: "#007751"
    };
  },
  async asyncData({ $content }) {
    const spContent = await $content("home/sideProject").fetch();
    const work = await $content("work/work").fetch();
    return { spContent, work };
  }
};
</script>

<style scoped>
.cf-work {
  padding: calc(var(--baseline) * 1.5rem) 0;
  --primaryColor: var(--green);
}
.cf-work__sect--2 {
  padding: calc(var(--baseline) * 1.5rem);
  padding-top: 0;
}
.cf-work__case-studies,
.cf-work__more {
  padding: calc(var(--baseline) * 1.5rem);
}
.cf-work__side-project {
  padding: calc(var(--baseline) * 1.5rem);
}

@media screen and (min-width: 768px) {
  .cf-work__sect--2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(var(--baseline) * 1.5rem);
    padding-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .cf-work__sect--2 {
    grid-template-columns: 1fr 1.75fr;
  }
}
</style>