<template>
  <main class="work" :style="casePrimaryColor">
    <work-intro :introData="intro" />
    <work-logo v-if="intro.logo" :generalInfo="generalInfo" :logoInfo="logo" />
    <work-design v-if="intro.siteDesign" :designIntro="designIntro" :designContent="designContent" />
    <work-build v-if="intro.siteBuild" :buildContent="buildContent" :buildCode="buildCode" />
    <work-conclusion :conclusionContent="conclusionContent" :conclusionIntro="conclusionIntro" />
    <work-footer :generalInfo="generalInfo" />
    <case-studies />
  </main>
</template>

<script>
import { caseStudyScript } from "~/mixins/caseStudies.js";
export default {
  mixins: [caseStudyScript],
  async asyncData({ $content }) {
    const root = "cs/pace-performance/";
    const paths = [
      "intro",
      "logo",
      "conclusion/intro",
      "conclusion/content",
      "build/content",
      "build/code",
      "design/intro",
      "design/content"
    ];
    const names = paths.map(name => name.split("/"));
    const names2 = names.map(name => {
      if (name[1]) {
        const x = name[1];
        const capitalize = x.charAt(0).toUpperCase() + x.slice(1);
        return name[0] + capitalize;
      }
      return name[0];
    });
    const promises = paths.map(path => $content(root + path).fetch());
    const content = await Promise.all(promises);
    const namesAndContent = names2.map((name, index) => {
      return [name, content[index]];
    });
    const namesAndContentObject = Object.fromEntries(namesAndContent);
    return { ...namesAndContentObject };
  }
};
</script>