<template>
  <div class="cf-default">
    <global-nav @navHeight="getNavHeight" />
    <nuxt :style="{ marginTop: cfNavHeight }" />
    <global-footer />
  </div>
</template>

<script>
export default {
  data() {
    return {
      cfNavHeight: ""
    };
  },
  methods: {
    getNavHeight(height) {
      this.cfNavHeight = height + "px";
    }
  }
};
</script>

<style>
.layout-enter-active,
.layout-leave-active {
  transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translate3d(0, -0, 0);
  opacity: 1;
  transition-property: opacity, transform;
}
.layout-enter {
  transform: translate3d(0, -2rem, 0);
  opacity: 0;
}
.layout-leave-to {
  transform: translate3d(0, 2rem, 0);
  opacity: 0;
}

@media screen and (min-width: 992px) {
  .layout-enter-active,
  .layout-leave-active {
    transition: 0.75s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .layout-enter {
    transform: translate3d(0, -3em, 0);
  }
  .layout-leave-to {
    transform: translate3d(0, 3rem, 0);
  }
}
</style>
