<template>
  <div class="error">
    <h1 v-if="error.statusCode === 404">Page not found</h1>
    <h1 v-else>An error occurred</h1>
    <nuxt-link to="/">Return Home</nuxt-link>
  </div>
</template>

<script>
export default {
  props: ['error'],
}
</script>

<style scoped>
.error {
  text-align: center;
}
</style>