<template>
  <div class="cf-about">
    <div class="container container--about">
      <main class="cf-about__left">
        <section class="abt-intro cf-about__section">
          <!-- <about-intro pageTitle="About" lead="A brief summary" /> -->
          <about-intro :pageTitle="summary.title" :lead="summary.subtitle" />
          <div class="abt-intro__split">
            <img
              src="/images/placeholder.png"
              :data-src="summary.image"
              alt="Christian Ferrer"
              class="lazy abt-beg__img"
            />
            <div class="abt-intro__text">
              <!-- Summary -->
              <nuxt-content :document="summary" />

              <div class="c2a">
                <a
                  href="#beginning"
                  class="c2a__btn c2a__btn--about"
                  @click="learnMore = !learnMore"
                  v-html="learnMore ? 'Show Less' : 'Learn More'"
                  v-show="!learnMore"
                ></a>
              </div>
            </div>
          </div>
        </section>

        <hr />

        <transition name="fade">
          <div class="abt-more" v-show="learnMore">
            <!-- story -->
            <nuxt-content :document="story" />
          </div>
        </transition>
      </main>

      <aside class="cf-about__right">
        <div class="cf-about__tldr">
          <!-- sidebar -->
          <nuxt-content :document="sidebar" />
        </div>
      </aside>
    </div>
  </div>
</template>

<script>
import Intro from "~/components/global/Intro";
import TextList from "~/components/global/TextList";
import { observer, scrollBarColor } from "~/mixins/sharedMethods.js";
export default {
  mixins: [observer, scrollBarColor],
  components: {
    TextList,
    aboutIntro: Intro
  },
  transition: {
    name: "layout"
  },
  head: {
    title: "About Me",
    meta: [{ name: "description", content: "Front-end all day errday" }]
  },
  data() {
    return {
      primaryColor: "#bc4a1b",
      learnMore: false,
      observe: [".lazy"]
    };
  },
  async asyncData({ $content }) {
    const summary = await $content("about/summary").fetch();
    const story = await $content("about/story").fetch();
    const sidebar = await $content("about/sidebar").fetch();
    return { summary, sidebar, story };
  }
};
</script>

<style scoped>
.cf-about {
  --primaryColor: var(--orange);
}
.cf-about {
  padding: calc(var(--baseline) * 1.5rem);
}
.cf-about__right {
  background: rgba(0, 0, 0, 0.2);
  padding: calc(var(--baseline) * 1.5rem);
  border-radius: 0 0 5rem 0;
}
.c2a__btn--about {
  background: var(--orange);
}

@media screen and (min-width: 768px) {
  .container--about {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: calc(var(--baseline) * 1.5rem);
  }
}

@media screen and (min-width: 1200px) {
  .abt-intro__split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(var(--baseline) * 1.5rem);
  }
}
#beginning {
  scroll-behavior: smooth;
}
</style>