<template>
  <main class="cf-home">
    <home-hero />
    <!-- <home-hero :content="heroContent" /> -->
    <div class="cf-content">
      <home-work :content="csContent" :spContent="spContent" />
      <home-about :content="aboutContent" />
    </div>
  </main>
</template>

<script>
import { observer, scrollBarColor } from "~/mixins/sharedMethods.js";
export default {
  mixins: [observer, scrollBarColor],
  head: {
    title: "Christian Ferrer - Front-end Web Developer & Designer",
    meta: [
      {
        name: "description",
        content:
          "Portfolio of Christian Ferrer, a front-end web developer and designer based in Murrieta, CA"
      }
    ]
  },
  transition: {
    name: "layout"
  },
  data() {
    return {
      primaryColor: "#bc9b1b",
      observe: ["section"]
    };
  },
  async asyncData({ $content }) {
    const aboutContent = await $content("home/about").fetch();
    const csContent = await $content("home/caseStudies").fetch();
    const spContent = await $content("home/sideProject").fetch();
    return { aboutContent, spContent, csContent };
  }
};
</script>

<style >
.cf-content {
  background: var(--darkGreen);
  position: relative;
  z-index: 2;
}
</style>
