<template>
  <div class="cf-pro">
    <div class="container container--pro">
      <div class="cf-pro__left">
        <div class="cf-pro__intro">
          <h1 class="title title--process">Process</h1>
          <p class="lead">General, but Flexible</p>
          <p>My process really varies from project to project. I like to plan and wireframe everything first. After completion, I'll move onto site design and site build. However, lately I've been "designing in code" and have found that I think of things in the code that I wouldn't have necessarily thought of in a wireframe app or Photoshop. There's beauty in this flexibility, but generally, I like to stick with this structure.</p>
        </div>

        <hr />

        <section class="cf-pro-plan cf-pro__section">
          <div class="cf-pro-plan__text">
            <h2 class="section-title">
              <span class="pro-num">1</span> -- Research & Plan
            </h2>
            <p>First, I like to research, if needed, about a clients' aesthetic or user experience and branding they want to achieve. This could be simple google searches of competitors, a look through social media profiles, and another look at any references they may have provided. I also take the opportunity to read over any contracts and written agreements just to make sure I know of everything. This gives me a better understanding of the client and the task at hand.</p>

            <p>Afterward, I start to map out all of the pages and sections that will appear on the site. This way, I have a defined "site map" that I can reference to make sure that I am building out all of the pages. This also gives me a rough visual idea of how long the build should take me.</p>

            <p>After the site plan, I usually create a simple wireframe to establish the general layout of the various web pages. These layouts are usually simple boxes with placeholder images to indicate where specific items will be placed. This is obviously very rough, but it gives both the client and I a point of reference that can easily be adjusted or tweaked as necessary.</p>
          </div>

          <div class="cf-pro-plan__img-wrap">
            <img
              src
              data-src="/images/process/wireframe.png"
              alt="Wireframe"
              class="lazy cf-pro-plan__img"
            />
          </div>
        </section>

        <hr />

        <section class="cf-pro-design cf-pro__section">
          <div class="cf-pro-design__text">
            <h2 class="cf-pro-design__title">
              <span class="pro-num">2</span> -- Design Mode
            </h2>
            <p>Once I get approval on the wireframe, I move onto the design phase, which is generally in Photoshop. I understand that Photoshop is primarily a photo-editor, but it is what I am most comfortable with and it gives me the most freedom in terms of the designs I want to create. However, I've been using Figma lately and am liking it!</p>

            <p>
              <em>But Photoshop is so slow!</em> I realize that it may be slower than programs like Sketch and Adobe XD, but the end-result from using Photoshop is generally a higher-quality product from my experience. In this phase, I'll introduce color, texture, typography, and create any banners and graphics that are necessary.
            </p>
          </div>

          <div class="cf-pro-design__img-wrap pro__img-wrap">
            <img
              src
              data-src="/images/process/design.png"
              alt="Design"
              class="lazy cf-pro-design__img"
            />
          </div>
        </section>

        <hr />

        <section class="cf-pro-build cf-pro__section">
          <div class="cf-pro-build__text">
            <h2 class="cf-pro-build__title">
              <span class="pro-num">3</span>-- Code Time
            </h2>
            <p
              class="cf-pro-build__copy"
            >Lastly, once I get the design approval, I move onto the build phase. My ideal workflow in the build phase is make sure I have all the imagery and graphics created and formatted, then start on populating the HTML first. Once I get a majority, if not all the HTML in place, I will start coding the CSS and JS.</p>

            <p>This workflow gives me the most efficient results, but I admit, there are times where I start the CSS before fully completing the HTML. It just depends on the project and it's requirements. This also leads to design ideas that I would not have thought of initially!</p>
          </div>

          <div class="cf-pro-build__img-wrap pro__img-wrap">
            <img
              src
              data-src="/images/process/build.png"
              alt="Build"
              class="lazy cf-pro-build__img"
            />
          </div>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  transition: {
    name: "process",
    mode: "out-in"
  },
  data() {
    return {
      primaryColor: "#bc1b3c"
    };
  },
  methods: {
    scrollBarColor() {
      const cfBody = document.querySelector("body");
      cfBody.setAttribute("style", `--scrollBarBtn:${this.primaryColor};`);
    },
    observer() {
      const options = {
        rootMargin: "100px",
        threshold: [0, 0.25, 0.5, 1.0]
      };

      const callback = (entries, observer) => {
        entries.forEach(entry => {
          if (entry.isIntersecting && entry.intersectionRatio >= 0.5) {
            const imgSrc = entry.target.dataset.src;
            entry.target.setAttribute("src", imgSrc);
            entry.target.classList.add("visible");
            observer.unobserve(entry.target);
          } else {
            // console.log('im out')
          }
        });
      };

      const observer = new IntersectionObserver(callback, options);
      const lazyImages = document.querySelectorAll(".lazy");
      lazyImages.forEach(lazyImage => observer.observe(lazyImage));
    }
  },
  mounted() {
    this.observer();
    this.scrollBarColor();
  },
  head: {
    title: "My Process",
    meta: [{ name: "description", content: "Personal webflow" }]
  }
};
</script>

<style scoped>
.process-enter-active,
.process-leave-active {
  transition: 0.8s ease-out all;
  transform: translate3d(0, -0, 0);
  opacity: 1;
}
.process-enter,
.process-leave-to {
  transform: translate3d(0, 5rem, 0);
  opacity: 0;
}

.cf-pro {
  padding: calc(var(--baseline) * 1.5rem);
  /* box-shadow: 0 -3px 3px rgba(0,0,0,0.2);
  border-top: 1px solid rgba(255,255,255,0.1); */
}

.title--process::after {
  background: var(--magenta);
}
img {
  max-width: 100%;
}
.cf-pro__section {
  padding: calc(var(--baseline) * 1.5rem) 0;
}

@media screen and (min-width: 768px) {
  .title {
    mask-image: url("/images/swoosh-white.svg");
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-position: bottom right;
  }

  .cf-pro__section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(var(--baseline) * 1.5rem);
  }
  .cf-pro__intro {
    max-width: 40rem;
  }
}

@media screen and (min-width: 1200px) {
  .cf-pro__section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: calc(var(--baseline) * 1.5rem);
  }
}
</style>