<template>
  <div class="thanks">
    <h1>Thanks for <br />reaching out! </h1>
    <p><strong>You're awesome!</strong></p>
    <p>I'll get back to you soon :).</p>
    <hr />
    <cf-case-studies />
  </div>
</template>

<script>

import CaseStudies from '~/components/work/CaseStudies.vue'
export default {
  components: {
    cfCaseStudies: CaseStudies,
  },
  
}
</script>

<style scoped>
  h1 {
    line-height: 1;
  }
  .thanks {
    padding: calc((var(--baseline) * 1.5rem));
    margin: 0 auto;
    max-width: 1200px;
    min-height: 50vh;
  }
  .cf-footer {
    display: none;
  }
</style>