<template>
  <div class="cf-creds">
    <span class="cf-creds__item" v-for="(credit, index) in credits" :key="index" v-html="credit"></span>
  </div>
</template>

<script>
import credits from "~/static/data/credits.json";
export default {
  data() {
    return {
      ...credits
    };
  }
};
</script>

<style >
.cf-creds {
  padding: 1rem;
  text-align: center;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.cf-creds a {
  color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
}
.cf-creds a:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.cf-creds a:visited {
  text-decoration: none;
  color: inherit;
}
</style>