<template>
  <div class="cf-form-wrap">
    <slot>
      <p class="cf-form__message">Feel free to send me a message</p>
    </slot>

    <form
      action="/thanks"
      class="cf-form"
      name="contact"
      method="POST"
      netlify
      netlify-honeypot="bot-field"
    >
      <input type="hidden" name="form-name" value="contact" />
      <div class="cf-form__item">
        <label hidden>Name:</label>
        <input placeholder="Name" type="text" name="name" required />
      </div>
      <div class="cf-form__item">
        <label hidden>Email:</label>
        <input placeholder="Email" type="email" name="email" required />
      </div>
      <div class="cf-form__item cf-form__item--textarea">
        <label hidden>Message:</label>
        <textarea placeholder="Your Message" name="message" required></textarea>
      </div>
      <div class="cf-form__item">
        <button type="submit" class="button button--source">Send!</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  props: {
    btnText: {
      type: String,
      default: "Send!"
    }
  }
};
</script>

<style scoped>
.cf-form {
  max-width: 400px;
  width: 100%;
  font-size: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}
.cf-form__message,
.cf-footer__email {
  opacity: 0.4;
}
.cf-form input,
textarea {
  font-size: 1em;
  padding: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
  color: #fff;
  width: 100%;
}
textarea {
  height: 120px;
  width: 100%;
}
.cf-form__item--textarea {
  grid-column: 1 / span 2;
}
</style>