<template>
  <div class="intro">
    <h3>{{ sectionTitle }}</h3>
    <p v-if="lead" class="lead lead--intro">{{lead}}</p>
    <template v-if="msg">
      <p class="intro__msg" v-text="msg" />
    </template>
    <template v-else>
      <slot />
    </template>
    <div class="c2a c2a--intro" v-if="c2aLink">
      <nuxt-link class="c2a__btn c2a__btn--intro" :to="c2aLink">{{ c2aText }}</nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    sectionTitle: {
      type: String,
      required: true
    },
    lead: {
      type: String
    },
    msg: {
      type: String
    },
    c2aLink: {
      type: String
    },
    c2aText: {
      type: String,
      default: "View"
    }
  }
};
</script>

<style scoped>
.c2a__btn {
  background: var(--primaryColor);
}
</style>