<template>
  <footer class="cf-footer">
    <cf-logo class="cf-footer__logo" logoId="Ftr" />
    <cf-info class="cf-footer__info" />
    <cf-creds class="cf-footer__creds" />
  </footer>
</template>
  
<script>
import Logo from "~/components/global/Logo";
import Creds from "~/components/global/Creds";
import MyInfo from "~/components/global/MyInfo";
export default {
  props: {
    footerInfo: String
  },
  components: {
    cfLogo: Logo,
    cfCreds: Creds,
    cfInfo: MyInfo
  }
};
</script>

<style scoped>
.cf-footer {
  background: var(--darkerGreen);
  box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  grid-gap: 0.5rem;
  padding: var(--basePadding);
  padding-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}
.cf-footer__creds {
  flex: 1;
  width: 100%;
}
.cf-footer__logo {
  opacity: 0.6;
  width: 5rem;
}
.cf-footer__creds {
  margin: var(--basePadding) var(--basePaddingNeg) 0;
}
</style>