<template>
  <nav class="cf-nav">
    <nuxt-link class="cf-nav__link cf-nav__link--home" to="/">Home</nuxt-link>
    <nuxt-link class="cf-nav__link cf-nav__link--work" to="/work">Work</nuxt-link>
    <nuxt-link class="cf-nav__link cf-nav__link--about" to="/about">About</nuxt-link>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      cfNavHeight: null
    };
  }
};
</script>

<style scoped>
.cf-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
  position: relative;
  z-index: 2;
  animation: down 1s ease-in-out 0.5s forwards;
  opacity: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background: var(--darkerGreen);
}
.cf-nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.2));
  pointer-events: none;
}
.cf-nav__link {
  padding: calc(var(--baseline) * 0.75rem) 0.2em;
  color: var(--white);
  text-align: center;
  text-decoration: none;
  border-top: 3px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s ease;
  position: relative;
  transform: translate3d(0);
  font-size: 0.75em;
}
.cf-nav__link::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
  transform: translate3d(0, -100%, 0);
  transition: 0.2s ease;
}
.cf-nav__link:hover::before {
  transform: translate3d(0, -0%, 0);
}
.cf-nav__link--home {
  border-top-color: var(--gold);
}
.cf-nav__link--work {
  border-top-color: var(--green);
}
.cf-nav__link--about {
  border-top-color: var(--orange);
}
.cf-nav__link--home.nuxt-link-exact-active,
.cf-nav__link--home::before {
  background: var(--gold);
  color: var(--darkGreen);
}
.cf-nav__link--work.nuxt-link-exact-active,
.cf-nav__link--work.nuxt-link-active,
.cf-nav__link--work::before {
  background: var(--green);
}
.cf-nav__link--about.nuxt-link-exact-active,
.cf-nav__link--about::before {
  background: var(--orange);
}

@keyframes down {
  0% {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .cf-nav__link {
    padding: calc(var(--baseline) * 0.75rem);
    font-size: 1em;
  }
}
</style>