<template>
  <div class="intro">
    <Page-title v-if="pageTitle" :pageTitle="pageTitle" />
    <section-title v-if="sectionTitle" :sectionTitle="sectionTitle" />
    <p v-if="lead" class="lead lead--intro">{{lead}}</p>
    <slot name="beforeMsg" />
    <div v-if="msg" class="intro__msg" v-html="msg" />
    <slot />
    <div v-if="c2aLink" class="c2a c2a--intro">
      <nuxt-link class="c2a__btn c2a__btn--intro" :to="c2aLink">{{ c2aText }}</nuxt-link>
    </div>
  </div>
</template>

<script>
import SectionTitle from "~/components/global/SectionTitle";
import PageTitle from "~/components/global/PageTitle";
export default {
  components: {
    PageTitle,
    SectionTitle
  },
  props: {
    pageTitle: {
      type: String
    },
    sectionTitle: {
      type: String
    },
    lead: {
      type: String
    },
    msg: {
      type: String
    },
    c2aLink: {
      type: String
    },
    c2aText: {
      type: String,
      default: "View"
    }
  }
};
</script>

<style scoped>
.c2a__btn {
  background: var(--primaryColor);
}
</style>