<template>
  <section class="list-grid">
    <template v-for="(item,index) in list">
      <nuxt-link :key="index" class="list-grid__link" :to="useProjectUrl ? item.pUrl : item.url">
        <img
          v-if="useImage"
          :alt="`${item.name} ${imgAlt}`"
          class="list-grid__img list-grid__img--thumb"
          :src="item.image"
        />
        <img
          v-if="useLogo"
          :alt="`${item.name}`"
          class="list-grid__img list-grid__img--logo"
          :src="item.logo"
        />
        <span v-if="showText" class="list-grid__text" v-text="item.name" />
      </nuxt-link>
    </template>
  </section>
</template>

<script>
export default {
  props: {
    list: {
      type: Array,
      required: true
    },
    useImage: {
      type: Boolean,
      default: false
    },
    useProjectUrl: {
      type: Boolean,
      default: false
    },
    useLogo: {
      type: Boolean,
      default: false
    },
    imgAlt: {
      type: String,
      default: "image"
    },
    showText: {
      type: Boolean,
      default: true
    }
  }
};
</script>

<style scoped>
.list-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
  margin: 0 0 var(--basePaddingHalf) 0;
}
.list-grid__link {
  padding: 1em;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  border-radius: 5px;
}
.list-grid__link:hover {
  box-shadow: 0 0 10px var(--green);
}
.list-grid__img {
  max-width: 100%;
}

@media screen and (min-width: 992px) {
  .list-grid__img {
    max-width: 150px;
  }
}
</style>