<template>
  <svg
    class="chrfer-logo"
    :id="logoId + 'ChrferLogo'"
    :data-name="logoId + 'ChrferLogo'"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 490.38 623"
    role="img"
    aria-labelledby="title"
  >
    <title id="title">Christian Ferrer Logo</title>
    <path
      class="cls-1"
      fill="white"
      d="M399.75,68.85l-.14.43L285.2,127c-.67-.23-1.28-.55-1.95-.77a120,120,0,0,0-157,126.21,119.3,119.3,0,0,0,16.62,47.2c.84,1.38,1.71,2.72,2.59,4.05-10.22-2.72-19.57-6.55-26.67-11.9,0,0,31.44,30.59,58.52,44.21a120.06,120.06,0,0,0,34.3,16.25l56.7,114.19a236.24,236.24,0,0,1-110.27-14.31l-.34-.13c-1.3-.5-2.6-1-3.89-1.53s-2.58-1.05-3.85-1.59l-.2-.09A235.68,235.68,0,0,1,8.94,266.56h0c0-.18,0-.37,0-.55l-.09-.55h0A235.82,235.82,0,0,1,92.92,64.75c22.25-9.83,50.78-19.32,71.85-15.49a200.49,200.49,0,0,0-30-12.41,235.3,235.3,0,0,1,265,32Zm53.31,147.82L498.38,88.43s-107.82,41.29-184.75,85.29a358.77,358.77,0,0,1,39.1,10.8c-25.25-3.13-55.31,5.28-78.24,14-17.76,12.82-30.61,25.26-35,36.33-21.14,61.58,169.1,398,169.1,398l1.58-.8,36.49-119.2s-15.75-33.85-41.33-81.39c-7.94,8.86-56,12.51-56,12.51l16-10.78a234.34,234.34,0,0,0,69.16-64.59l-.23-.38.37-12.95,2.07-70.51-85.75,36.07c-10.33-22.82-16.63-40.1-15.16-45.82C341.75,251.78,453.06,216.67,453.06,216.67Z"
      transform="translate(-8 -9.89)"
    />
  </svg>
</template>

<script>
export default {
  props: {
    logoId: {
      type: String,
      default: "Main"
    }
  }
};
</script>
