<template>
  <div class="my-info">
    <div v-if="showEmail" class="my-info__email">{{ general.email }}</div>
    <ul class="my-info__list" v-if="general.links">
      <li class="my-info__list-item" v-for="link in general.links" :key="link.linkName">
        <a
          rel="noreferrer noopener nofollow"
          :href="link.url"
          target="_blank"
          class="my-info__link"
          :class="buttons ? 'button button--gold' : 'my-info__link--link'"
        >{{ link.name }}</a>
      </li>
    </ul>
  </div>
</template>

<script>
import general from "~/static/data/general.json";
export default {
  props: {
    buttons: {
      type: Boolean,
      default: false
    },
    showEmail: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      ...general
    };
  }
};
</script>

<style scoped>
.my-info__list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.my-info__list-item {
  padding: 0;
  margin: 0;
  list-style: none;
}
.my-info__link {
  margin: 0 5px;
}
.my-info__link--link:hover {
  border-bottom: 1px dotted var(--gold);
}
</style>