<template>
  <h1 class="page-title">
    <span class="page-title__text">{{ pageTitle }}</span>
  </h1>
</template>

<script>
export default {
  props: {
    pageTitle: {
      type: String,
      required: true
    }
  }
};
</script>

<style scoped>
.page-title {
  position: relative;
  display: inline-block;
}
.page-title::after {
  content: "";
  height: 0.5rem;
  background: var(--primaryColor);
  width: 3rem;
  display: block;
}
@media screen and (min-width: 768px) {
  .page-title {
    mask-image: url("/images/swoosh-white.svg");
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-position: center right;
  }
}
</style>