<template>
  <div class="resume">
    <ul class="resume__list">
      <li class="resume__list-item" v-for="(item, index) in resumeData" :key="index">
        <strong class="resume__work">{{ item.name }}</strong>
        <div class="resume__exp">{{ item.date }} -- {{item.position }}</div>
      </li>
    </ul>
    <div v-if="resumeDownload" class="c2a">
      <a class="c2a__btn" :href="resumeDownload" rel="noreferrer" target="_blank">{{ resumeBtn }}</a>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    resumeTitle: {
      type: String,
      default: "Resume"
    },
    resumeData: {
      required: true,
      type: Array
    },
    resumeDownload: {
      type: String
    },
    resumeBtn: {
      type: String
    }
  }
};
</script>

<style  scoped>
.resume__title {
  margin-top: 0;
}
.resume__list {
  padding: 0;
}
.resume__list-item {
  list-style: none;
  transition: 0.2s ease;
  margin-left: var(--basePaddingNeg);
  margin-right: var(--basePaddingNeg);
  margin-bottom: 0;
  padding: calc(var(--baseline) * 0.25rem) var(--basePadding);
}
.resume__list-item:hover,
.c2a__btn {
  background: var(--primaryColor);
}
.resume__work {
  font-family: "quicksand", sans-serif;
}
</style>