<template>
  <h2 class="section-title">
    <span class="section-title__text">{{ sectionTitle }}</span>
  </h2>
</template>

<script>
export default {
  props: {
    sectionTitle: {
      type: String,
      required: true
    }
  }
};
</script>

<style scoped>
.section-title {
  position: relative;
  display: inline-block;
}
.section-title::after {
  content: "";
  height: 0.5rem;
  background: var(--primaryColor);
  width: 3rem;
  display: block;
}
</style>