<template>
  <svg
    class="swoosh title__swoosh"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="1.861in"
    height="0.667in"
  >
    <path
      fill-rule="evenodd"
      fill="rgb(36, 42, 39)"
      d="M-0.000,30.231 C-0.000,30.231 122.899,54.590 130.008,2.392 C132.638,-16.920 157.666,88.518 -0.000,30.231 Z"
    />
  </svg>
</template>

<script>
export default {};
</script>

<style scoped>
.swoosh {
  display: none;
}
@media screen and (min-width: 768px) {
  .swoosh {
    position: absolute;
    top: 50%;
    z-index: 2;
    right: -5rem;
    transform: translate3d(0, -30%, 0);
    display: block;
  }
}
</style>