<template>
  <div class="text-list">
    <h3 v-if="title" class="text-list__title">{{ title }}</h3>
    <ul class="text-list__list">
      <li v-for="(item, index) in data" :key="index" class="text-list__item">{{item}}</li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Array,
      required: true
    },
    title: {
      type: String
    }
  }
};
</script>

<style lang="scss" scoped>
</style>