<template>
  <div class="featured-wrap">
    <div class="featured">
      <div class="featured__image-container">
        <figure class="featured__image-wrap">
          <div v-if="info.pUrl" class="featured__image-link" >
            <img class="featured__image" :data-src="info.image" :src="info.image" alt="" aria-hidden="true" />
          </div>
          <div
            v-else
            class="featured__image-link"
          >
            <img class="featured__image" :data-src="info.image" :src="info.image" alt="" aria-hidden="true" />
          </div>
        </figure>
      </div>
    </div>
    <div class="featured-info">
      <div v-if="info.type" class="featured__type">{{info.type}}</div>
      <div class="featured__name">
        <strong>{{info.title}}</strong>
      </div>
      <div v-if="info.pUrl" class="featured__url">{{info.url}}</div>
      <nuxt-link
        v-if="info.pUrl"
        :to="info.pUrl"
        class="button button--featured"
      >{{info.btnText ? info.btnText : 'View Project'}}</nuxt-link>
      <a
        v-else
        :href="info.url"
        class="button button--featured"
        target="_blank"
        rel="noreferrer noopener nofollow"
      >View {{info.title}}</a>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    info: {
      type: Object,
      required: true
    }
  }
};
</script>

<style scoped>
.featured {
  position: relative;
}
.featured::after {
  content: "";
  width: 70%;
  left: 15%;
  bottom: 0;
  height: 50px;
  box-shadow: 0 0 30px 30px rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  display: block;
  position: absolute;
  z-index: -1;
  transition: 0.3s ease;
}
.featured:hover::after {
  box-shadow: 0 0 30px 30px var(--green);
}
.featured__image-wrap {
  position: relative;
  background: linear-gradient(to bottom right, #111 20%, #1f1f1f 20%, #111 60%);
  line-height: 0;
  border-bottom: 1px solid var(--darkGreen);
  z-index: 1;
  border-radius: 10px;
  /* max-width: 800px; */
}
.featured__image-wrap::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background: linear-gradient(
    to bottom right,
    transparent 15%,
    rgba(255, 255, 255, 0.7) 20%,
    rgba(255, 255, 255, 0.7) 20%,
    transparent 45%
  );
  pointer-events: none;
}
.featured__image-link,
.featured__image {
  width: 100%;
  display: block;
}
.featured__image {
  padding: 20px;
}
.featured__type {
  font-size: 0.65em;
  text-transform: uppercase;
  margin-top: 0.5em;
  letter-spacing: 0.1em;
  opacity: 0.5;
}
.button--featured {
  background: var(--primaryColor);
}

@media screen and (min-width: 992px) {
  .featured {
    position: relative;
    perspective: 1000px;
    margin-left: -3rem;
  }
  .featured__image-container {
    perspective: 1000px;
  }
  .featured__image-wrap,
  .featured::after {
    transform: rotateY(-20deg);
  }
}
</style>