<template>
  <div class="gallery">
    <transition-group name="work" tag="div" class="gallery__wrap">
      <figure class="gallery__item" v-for="pic in data" :key="pic.name.trim().toLowerCase()">
        <div class="gallery__image-wrap">
          <a :href="pic.url" target="_blank" rel="noreferrer" class="gallery__link">
            <img src :data-src="pic.image" :alt="pic.name" class="gallery__image lazy" />
          </a>
        </div>
        <figcaption class="gallery__caption">
          <div class="gallery__type">{{ pic.type }}</div>
          <div class="gallery__name">{{ pic.name }}</div>
          <div class="gallery__url">
            <a :href="pic.url" target="_blank" rel="noreferrer" class="gallery__link">{{ pic.url }}</a>
          </div>
        </figcaption>
      </figure>
    </transition-group>
  </div>
</template>

<script>
import { observer } from "~/mixins/sharedMethods.js";
export default {
  mixins: [observer],
  props: {
    data: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      observe: [".gallery__image"]
    };
  }
};
</script>

<style scoped>
.gallery > div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: var(--basePadding);
}
.gallery__image-wrap {
  position: relative;
}
.gallery__image-wrap::after {
  padding-top: calc((493 / 800) * 100%);
  content: "";
  display: block;
  background: var(--green);
}
.gallery__image {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s ease;
}
.gallery__image.visible {
  opacity: 1;
}
img {
  max-width: 100%;
}
.gallery__name {
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
}
.gallery__url {
  font-size: 0.85rem;
}
.gallery__p-url {
  background: var(--green);
  padding: 1em;
  border-radius: 3px;
  transition: 0.3s ease;
  color: var(--white);
  margin: 0.5em 0 0;
  display: inline-block;
}
.gallery__p-url:hover {
  box-shadow: inset 0 0 13px rgba(255, 255, 255, 0.4);
}

.gallery__item--cs {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 1em;
  transition: 0.3s ease;
}
.gallery__item--cs:hover {
  box-shadow: 0 0 30px var(--green);
}
.gallery__type {
  font-size: 0.65em;
  text-transform: uppercase;
  margin-top: 0.5em;
  letter-spacing: 0.1em;
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .gallery__item {
    display: grid;
    position: relative;
    overflow: hidden;
  }
  .gallery__image-wrap {
    background: var(--green);
  }
  .gallery__image-wrap {
    grid-row: 1;
    grid-column: 1;
    transition: 0.3s ease;
    line-height: 0;
  }
  .gallery__caption {
    grid-column: 1/-1;
    grid-row: 1/-1;
    display: grid;
    align-content: center;
    justify-content: center;
    transition: 0.3s ease;
    position: relative;
    z-index: 1;
    text-align: center;
    opacity: 0;
  }
  .gallery__caption--cs {
    display: block;
    text-align: left;
    opacity: 1;
    grid-column: unset;
    grid-row: unset;
    background: none;
  }
  .gallery__image-wrap {
    overflow: hidden;
  }
  .gallery__item:hover .gallery__image {
    transform: scale(1.1);
    opacity: 0.02;
  }
  .gallery__item--cs:hover .gallery__image {
    transform: unset;
    opacity: unset;
  }
  .gallery__item:hover .gallery__caption {
    opacity: 1;
  }
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
  .gallery > div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: var(--basePadding);
  }
  .work__more .gallery__caption {
    pointer-events: none;
  }
}
</style>